  .app-container {
    display: flex;
  }

  .content-container {
    margin-left: 220px; /* Adjust this value based on the width of your left nav */
    padding: 20px;
    width: calc(100% - 220px); /* Adjust this value based on the width of your left nav */
    text-align: left; /* Ensure text is left-aligned */
  }
  
  .tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
  }
  
  .tabs button.active {
    background-color: #007bff;
    color: white;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #f0f0f0;
    background-color: #fff;
  }